<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCA_Ytch-fts3xmsrq4YUniAFv1jh-DJ5A</string>
	<key>GCM_SENDER_ID</key>
	<string>850491196546</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.matin.airplane</string>
	<key>PROJECT_ID</key>
	<string>airplane-fcdec</string>
	<key>STORAGE_BUCKET</key>
	<string>airplane-fcdec.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:850491196546:ios:c55e18d842099986a3e09b</string>
</dict>
</plist>